<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - News</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        * img {
            width: 100%;
        }

        * {
            background-color: #f8ffdc;
            margin: 0;
            padding: 0;
        }
        @@media only screen and (max-width: 600px) {
            .arrow-element{
                width:1em;
                height:1em;
            }
        }
    </style>
</head>
<body>
    <header>
        <div class="row m-0 p-0">
            <div class="col-4 m-0 p-0"></div>
            <div class="col-4 m-0 p-0 row justify-content-center flex-grow-1">
                <a href="#" class="column">
                    <img class="img-fluid" src="~/img/log2.jpg" alt="logo" style="height: auto; width: 300px;" />
                </a>
            </div>

            <div class="col-2 m-0 p-0"></div>
            <div class="col-2 row flex-column m-0 p-0">
                <div class="column"><a href="#">Login</a></div>
                <div class="column">
                    <form action="/" method="get">
                        <input type="image" name="Search" alt="search" src="~/img/search.jpg" style="width: 25px" />
                        <input type="text" name="search" placeholder="search" size="5" />
                    </form>
                </div>

                @*<button class="col-6 btn" type="button">Search</button>*@
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow m-0 p-0 mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">News</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Topics" asp-action="Index"
                               asp-route-fieldName="DateOfCreation" asp-route-pageNumber="1"
                               asp-route-isDescending="@Model.IsDescending">Topics</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="con-12">
        <main role="main" class="pb-3 m-0">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - News - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
